@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);
body{
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(71, 70, 70);
    
    
}

h1{
    color: #fff;
    text-align: center;
}
h2{
    color: #fff;
    text-align: center;
}

    


a{
    font-size: 30px;
    display: block;
    text-align: center;
}